.dropdownbar {
    display: flex;
}

#dropdown {
    border: 2px solid;
    border-radius: 5px;
}

.dropdown-item {
    width: 200px;
}

.value {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border: 2px solid;
    border-radius: 5px;
}