.filter-vertical {
    width: 350px;
    margin: 20px 40px 20px 0;
}

.filtercard {
    border: 2px solid;
    border-radius: 5px;
    margin-bottom: 20px;
}

.card-title {
    color: "primary";
}

input {
    margin-right: 20px;
}

label {
    font-weight: 500;
}

.rangebar {
    margin-top: 20px;
}

.pricerange {
    width: 80px;
}
